<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/css/login.css">


    <title>Scratch Paper</title>


<!-- css -->
<link rel="stylesheet" type="text/css" href="../static/css/draw.css">

<!-- 그림판시작 -->
        <canvas id="canvas">
        </canvas>
        <div class="tools">


             <!-- 컬러피커  -->
            <input onInput="draw_color= this.value" type="color" class="color-picker" style="width:70px">
            <!-- 펜굵기 조절 -->
            <input type="range" min="1" max="100" class="pen-range"
                  onInput="draw_width=this.value">
            <!-- 되돌리기, 지우기, 다운로드 버튼  -->
            <button onclick="undo_last()"type="button" class="button">되돌리기</button>
            <button onclick="save()" type="button" class="button">다운로드</button>
            <button onclick="posting()" type="button" class="button">업로드</button>
        </div>

    <!-- javascript -->
    <script src="../static/js/draw.js"></script>